div.types-buttons {
  max-width: 340px;
  margin: 0 auto;
}

div.types-buttons button, div.remove-buttons button {
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px #525252;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px #525252;
  font-family: 'Poke-font';
  font-size: 8px;
  padding: 5px;
  margin: 5px 5px;
  filter: blur(0.5px);
  transition: 0.2s ease-in-out;
}

div.remove-buttons {
  margin-top: 10px;
  opacity: 0.6;
}

div.types-buttons button:hover, div.remove-buttons button:hover {
  box-shadow: 4px 4px #525252;
}

