* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face {
  font-family: Poke-font;
  src: url('./assets/fonts/pkmn_rbygsc-webfont.woff') format('woff');
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.bug {
  background-color: #ADBD21;
}

.dragon {
  background-color: #7B63E7;
}

.electric {
  background-color: #FFC631;
}

.fairy {
  background-color: #F7B5F7;
}

.fighting {
  background-color: #A55239;
}

.fire {
  background-color: #F75231;
}

.flying {
  background-color: #9CADF7;
}

.ghost {
  background-color: #6363B5;
}

.grass {
  background-color: #7BCE52;
}

.ground {
  background-color: #D6B55A;
}

.ice {
  background-color: #5ACEE7;
}

.normal {
  background-color: #ADA594;
}

.poison {
  background-color: #B55AA5;
}

.psychic {
  background-color: #FF73A5;
}

.rock {
  background-color: #BDA55A;
}

.steel {
  background-color: #ADADC6;
}

.water {
  background-color: #399CFF;
}